body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ADDCCA; /* Light gray background for contrast */
    display: flex;
    height: 100vh;
}

#main-container {
    display: flex;
    width: 100%;
    justify-content: flex-end; /* Align the login container to the right */
    align-items: center;
}

#background-image {
    width: 50%; /* Adjust the width of the background image container */
    height: 100%;
    background: url('https://booking.manipal.edu/images/bg.svg') no-repeat center center;
    background-size: cover;
}

#login-container {
    width: 70%; /* Adjust the width of the login container */
    max-width: 400px;
    background-color: #F7F8F3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}

.header-container h1, .header-container h3 {
    text-align: center;
    color: #FF6F5E; 
}


.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-password {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000000;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #f6761b;
    color: #000000;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #f8a043;
}


